@model DMSUI.Entities.DTOs.User.PasswordResetForAdminDTO

<div class="container mt-4" style="max-width:450px;">
    <div class="card shadow-sm border-0">

        <div class="card-header bg-white fw-semibold text-danger">
            Admin Şifre Sıfırlama
        </div>

        <div class="card-body">

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">@ViewBag.Error</div>
            }

            @if (ViewBag.Success != null)
            {
                <div class="alert alert-success">@ViewBag.Success</div>
            }

            <form method="post">

                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label>Kullanıcı Email</label>
                    <input asp-for="Email"
                           class="form-control form-control-sm bg-light"
                           readonly />
                </div>

                <div class="mb-3">
                    <label>Yeni Şifre</label>
                    <input asp-for="NewPassword"
                           type="password"
                           class="form-control form-control-sm" />
                </div>

                <button class="btn btn-danger btn-sm w-100">
                    Şifreyi Sıfırla
                </button>

            </form>
        </div>
    </div>
</div>
